* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    /* background: linear-gradient(to right, #bdc3c7, #537495); */
    background-image: url("/Portfolio_Website/assets/PP_Background.png");
    background-repeat:no-repeat;
    background-size: cover;
}
:root {
    --section-font: 18px;
    --section-color: #000;
    --heading-font: 36px;
    --margin-bottom: 8px;
    --mp-margin: 20px;
    --mp-padding: 10px 20px 60px 20px;
}

.para {
    font-size: var(--section-font);
    color: var(--section-color);
}
.heading{
    font-size: var(--heading-font);
    color: var(--section-color);
    margin-bottom: var(--margin-bottom);
}
.mp{
    padding: var(--mp-padding);
    margin: var(--mp-margin);
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.container {
    width: 100vw;
    /* border: 1px solid black; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 140px;
    /* border: 1px solid black; */
}

.navlist a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.navlist {
    list-style: none;
    display: flex;
    gap: 30px;
}

.logo img {
    /* border: 1px solid black; */
    width: 250px;
    cursor: pointer;
}

#Home{
    text-align: center;
    margin: 160px;
}
#Home h1{
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #000000;
}
#Home p{
    font-size: 24px;
}
#About{
    margin-top: 190px;
}
#cv a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
#Contact{
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
#Contact ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
#Contact ul li img{
    width: 40px;
    cursor: pointer;
}



















@media (max-width: 768px) {
    nav {
        /* flex-direction: row; Stack logo and nav items */
        height: auto;
        /* Adjust height */
        /* padding: 10px 15px; */
    }

    .navlist {
        flex-direction: row;
        /* Stack nav items */
        gap: 10px;
        /* Adjust gap */
    }

    .navlist a {
        font-size: 18px;
        /* Increase font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 30vw;
        /* Adjust logo size for very small screens */
    }

    nav {
        padding: 0 10px;
        /* Adjust padding */
    }

    .navlist a {
        font-size: 18px;
    }
}